<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>151109939072-kch0luee3h8p1oj30qc6v8avagfehbn9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.151109939072-kch0luee3h8p1oj30qc6v8avagfehbn9</string>
	<key>API_KEY</key>
	<string>AIzaSyCtyDYFTRsb2kcipbx4PH95lsuEYi9zWYY</string>
	<key>GCM_SENDER_ID</key>
	<string>151109939072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.automato.digitalagentapp</string>
	<key>PROJECT_ID</key>
	<string>digitalagentapp</string>
	<key>STORAGE_BUCKET</key>
	<string>digitalagentapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151109939072:ios:59cf02ae7bb6b356</string>
	<key>DATABASE_URL</key>
	<string>https://digitalagentapp.firebaseio.com</string>
</dict>
</plist>